<%= render 'pages/home' unless user_signed_in? %>

<% if user_signed_in? %>
  <p><center>
    <div class="jumbotron">
      <h2><center>Welcome!</center></h2>
    </div>

  
      <%= link_to "Ideas", ideas_path, class: "btn btn-default" %> 
      <%= link_to "Build It", buildit_path, class: "btn btn-default" %>
      <%= link_to "My Itineraries", myitineraries_path, class: "btn btn-default" %> 
      <%= link_to "My Scrapbook", myscrapbook_path, class: "btn btn-default" %></p>
   

      <div id="pins" class="transitions-enabled"> 
        <% @pins.each do |pin| %>
           <div class="box panel panel-default">
              <%=  %>
              <%= link_to image_tag(pin.image.url(:medium)), pin %>
              <div class="panel-body">
                <%= pin.description %>
                <%= pin.user.email if pin.user %>
                <% if pin.user == current_user %>
                  <div class="actions"> 
                    
                    <%= link_to edit_pin_path(pin) do %>
                      <span class="glyphicon glyphicon-edit"></span> Edit <% end %>

                    <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <span class="glyphicon glyphicon-trash"></span> Delete <% end %>
          
                <% end %>
              </div>
          </div>
      </div>
    <% end %>

<% end %>
  </div>
