

<% if user_signed_in? %>

		<p><center>
			<div class="jumbotron">
				<h2><center>Welcome!</center></h2>
			</div>

			<%= link_to "Ideas", ideas_path, class: "btn btn-default" %> 
			<%= link_to "Build It", buildit_path, class: "btn btn-default" %>
			<%= link_to "My Itineraries", myitineraries_path, class: "btn btn-default" %> 
			<%= link_to "My Scrapbook", myscrapbook_path, class: "btn btn-default" %>



<% else %>


		<p><center>
			<div class="jumbotron">
				<h3><center>Welcome!</center></h3>

				<%= link_to "Log in", new_user_session_path, class: "btn btn-default" %> <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
				</center></p>
			</div>

	  


<% end %>
